.input {
  max-width: 401px;
  background-color: #222222;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: var(--font-inter);
}
