.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  gap: 10px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: var(--font-inter);
}

.count {
  cursor: default;
}
